<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Secret Santa generator</title>
</head>

<body>
	<h1>Secret Santa generator</h1>
    <form action="http://localhost:<%- portNumber %>/exchange" method="post">
		
        <div id="info">
            Secret Santa generated sucessfully. Check your inbox for your assigned participant. 
        </div>

		<br>

        <hr>

        <a href="/">HOME</a>
	</form>

</body>

</html>
